<!DOCTYPE html>
<html lang="ja" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex,nofollow,none,noodp,noarchive,nosnippet,noimageindex,nocache">
    <title>***</title>
    <script src="../_common/umbrella.min.js" charset="utf-8"></script>
    <script src="../_common/underscore-min.js" charset="utf-8"></script>
    <style>
        div { margin-bottom: 1.5rem; word-spacing: 1.2rem; }
        fieldset { margin-bottom: 1rem; }
        textarea { width: 95vw; height: 15rem; }
    </style>
</head>
<body>
    <div>
        <a href="#temp-1">その1</a>
        <a href="#temp-2">その2</a>
        <a href="#temp-3">その3</a>
        <a href="#temp-4">その4</a>
        <a href="#temp-5">その5</a>
        <a href="#temp-6">その6</a>
    </div>
    <form>
        <fieldset>
            <legend>その1</legend>
            <textarea id="temp-1"></textarea>
        </fieldset>
        <fieldset>
            <legend>その2</legend>
            <textarea id="temp-2"></textarea>
        </fieldset>
        <fieldset>
            <legend>その3</legend>
            <textarea id="temp-3"></textarea>
        </fieldset>
        <fieldset>
            <legend>その4</legend>
            <textarea id="temp-4"></textarea>
        </fieldset>
        <fieldset>
            <legend>その5</legend>
            <textarea id="temp-5"></textarea>
        </fieldset>
        <fieldset>
            <legend>その6</legend>
            <textarea id="temp-6"></textarea>
        </fieldset>
    </form>
    <script src="./index.js" charset="utf-8"></script>
</body>
</html>
